@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000814;
}

/* .navbar {
  display: flex;
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
  top: 0;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* .title {
  font-family: "Bebas Neue";
  color: #f0f7ee;
  filter: drop-shadow(2px 2px 2px #003566);
} */
.navbar {
  display: flex;
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
  top: 0;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "poppins";
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  text-decoration: none;
  font-family: "bebas neue";
  font-size: 30px;
  color: white;
  font-weight: 600;
}
.nav-title:hover {
  color: #ffc300;
  filter: drop-shadow(2px 2px 2px #003566);
  transition: 0.3s ease-in-out;
}
/* Desktop Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-size: 20px;
  color: #eaeaea;
  font-family: "Righteous";
  text-decoration: none;
}

.nav-link:hover {
  color: #ffc300;
  filter: drop-shadow(2px 2px 2px #003566);
  transition: 0.3s ease-in-out;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  gap: 6px;
  transition: transform 0.3s ease;
  z-index: 1001;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 7px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.mobile-menu {
  position: absolute;
  top: 40px;
  left: -100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  gap: 24px;
  font-family: "Righteous";

  margin-top: 10px;
  transition: left 0.4s ease;
  background: rgba(0, 53, 102);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 12px 12px;
}

.mobile-menu.open {
  left: 0;
}

.mobile-link {
  color: #ffc300;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.mobile-link:hover {
  color: #ff4b2b;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

.first-body {
  display: flex;
  padding: 6%;
  align-items: center;
  gap: 2%;
  margin-top: 8%;
}
.intro h1 {
  font-family: "Bebas Neue";
  font-size: 101px;
  font-weight: 600;
  color: #f0f7ee;
  filter: drop-shadow(2px 2px #ffc300);
  animation: fade 2.5s forwards;
}
.intro p {
  font-size: 18px;
  font-weight: 400;
  font-family: "MuseoModerno";
  color: #c7c7c7;
  animation: fade 2.75s forwards;
}
.title-btns {
  display: flex;
  align-items: center;
  gap: 15px;
  animation: fade 2.75s forwards;
}
.title-pic {
  width: 60%;
  border-radius: 16px;
  background: #c7c7c7;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 2.75s forwards;
}
.title-pic img {
  width: 65%;
  align-items: center;
  filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.5));
}

.intro {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.btn-circle {
  border-radius: 100px;
  background-color: #003566;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 0px #ffc300;
}
.btn-circle img {
  width: 35px;
  height: 35px;
}
.btn-circle:hover {
  background-color: black;
  box-shadow: 2px 2px 0px #003566;
  transition: 0.2s ease-in-out;
}
.btn-circle:active {
  transform: translateY(4px);
  filter: invert();
  background-color: black;
  box-shadow: none;
}
hr {
  border: none;
  height: 2px;
  background-color: grey;
  width: 100%;
}
.work-description hr {
  border: none;
  height: 3px;
  background: linear-gradient(90deg, #003566, grey);
  border-radius: 2px;
}
.second-body {
  padding: 2%;
  color: white;
  animation: fade 3s forwards;
}
.work-title h1 {
  font-family: "Bebas Neue";
  font-size: 76px;
  margin-top: 10px;
  font-weight: 600;
  color: #ffc300;
  filter: drop-shadow(2px 2px #003566);
}
.work-title p {
  color: #c7c7c7;
  font-size: 18px;
  font-family: "MuseoModerno";
}
.work-project {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  gap: 7%;
  margin-bottom: 3%;
}
.work-pic {
  width: 100%;
  padding: 3%;
  border-radius: 12px;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}
.work-description h2 {
  color: #ffffff;
  font-size: 32px;
  font-family: "Mochiy Pop One";
  font-weight: 500;
  filter: drop-shadow(1px 1px #ffd60a);
}
.work-description p {
  font-size: 16px;
  font-weight: 400;
  font-family: "MuseoModerno";
  margin-bottom: 2%;
}
.work-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8%;
  margin-top: 2%;
}
.work-pic img {
  width: 100%;
  border-radius: 12px;
}
.project-info {
  color: #ffd60a;
  font-family: "poppins";
}
.project-info h1 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2%;
  color: #ffd60a;
}
.work-info {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-between;
}
.work-info p {
  font-size: 15px;
  font-weight: 500;
}
.work-info hr {
  color: darkgrey;
}
.link-git {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.link-git a {
  text-decoration: none;
  color: #ffc300;
}
.link-git a:hover {
  color: #db4444;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}
.link-git a:active {
  color: #003566;
}
.link-git img {
  width: 35px;
  height: 35px;
}
.link-try {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer {
  color: #c7c7c7;
  font-family: "poppins";
  display: flex;
  font-size: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.third-body {
  display: flex;
  flex-direction: row;
  padding: 6%;
  justify-content: space-evenly;
  align-items: center;
  gap: 2%;
}
.third-body h1 {
  font-family: "Bebas Neue";
  font-size: 101px;
  font-weight: 600;
  width: 100%;
  color: #ffc300;
  filter: drop-shadow(2px 2px #003566);
}
.second-title {
  color: #c7c7c7;
  font-family: "poppins";
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.second-title h2 {
  font-family: "Mochiy Pop One";
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  filter: drop-shadow(1px 1px #ffc300);
}
.second-title p {
  font-family: "MuseoModerno";
  font-size: 18px;
  font-weight: 400;
  color: #c7c7c7;
}
.more-info {
  color: #ffc300;
  text-decoration: none;
}
.more-info:hover {
  color: #db4444;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}
.more-info:active {
  color: #003566;
}
.about-pic {
  background: #c7c7c7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 13px;
  width: 90%;
  position: relative;
}
.second-pic {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.second-pic:hover {
  opacity: 1;
}
.about2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 5%;
  margin-bottom: 2%;
  animation: fade 2.5s forwards;
}
.about-skill {
  font-family: "Bebas Neue";
  font-size: 76px;
  font-weight: 600;
  color: #ffc300;
  filter: drop-shadow(2px 2px #003566);
}
.skill-icon {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.skill-indiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  text-align: center;
}
.skill-indiv img {
  width: 80px;
  height: 80px;
  border-radius: 3px;
}
.skill-indiv p {
  color: #c7c7c7;
  font-size: 18px;
  font-weight: 500;
  font-family: "MuseoModerno";
}
.about2 hr {
  border: 1px solid #484848;
  width: 100%;
}
.about-info {
  display: flex;
  gap: 120px;
  padding: 5%;
  justify-content: center;
}
.about-info h1 {
  font-family: "Bebas Neue";
  font-size: 110px;
  font-weight: 600;
  color: #ffc300;
  width: 100%;
  text-align: center;
  filter: drop-shadow(2px 2px #003566);
}
.about-info h2 {
  font-family: "Bebas Neue";
  font-size: 110px;
  font-weight: 600;
  color: #ffc300;
  width: 100%;
  text-align: center;
  filter: drop-shadow(2px 2px #003566);
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about2-group {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-para h3 {
  font-family: "Mochiy Pop One";
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  filter: drop-shadow(1px 1px #ffc300);
}
.about-para p {
  font-family: "MuseoModerno";
  font-size: 18px;
  font-weight: 400;
  color: #c7c7c7;
}
.download {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.download-btn {
  padding: 14px 28px;
  background: linear-gradient(90deg, #003566, #ffc300);
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Salsa";
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.download-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.download-btn:hover::before {
  left: 100%;
}

.download-btn:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
.download-btn:active {
  transform: scale(0.95);
  background: linear-gradient(90deg, #e6ac00, #ff4b2b);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.contact-info {
  display: flex;
  padding: 6%;
  justify-content: space-evenly;
}
.contact-info h1 {
  font-family: "Bebas Neue";
  font-size: 101px;
  font-weight: 600;
  width: 100%;
  color: #ffc300;
  filter: drop-shadow(2px 2px #003566);
}
.contact-icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-icons img {
  width: 32px;
  height: 32px;
}
.single-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.single-icon a {
  text-decoration: none;
  font-family: "poppins";
  font-size: 15px;
  color: #c7c7c7;
}
.single-icon p {
  font-family: "poppins";
  font-size: 15px;
  color: #c7c7c7;
}
.single-icon a:hover {
  color: #db4444;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
.single-icon a:active {
  color: #003566;
}
.about-exp {
  display: flex;
  gap: 200px;
  padding: 5%;
  justify-content: center;
}

.exp-title {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  font-family: "Mochiy Pop One";
}
.exp-title h3 {
  font-size: 23px;
  font-weight: 500;
}
.exp-title h4 {
  color: #457b9d;
  font-size: 16px;
  font-weight: 400;
}
.exp-title h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.try {
  font-family: "poppins";
   background-color: #003566;
  display: flex;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 2px 2px 0px #ffc300;
  color: #ffc300;
  font-family: 'poppins';
  text-decoration: none;
}
.try:hover {
  background-color: black;
  box-shadow: 2px 2px 0px #003566;
  transition: 0.2s ease-in-out;
}
.try:active {
  transform: translateY(4px);
  background-color: #eaeaea;
  color: #003566;
  box-shadow: none;
}
.top-btn-func {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.top-btn {
  border-radius: 100px;
  background-color: #003566;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  box-shadow: 2px 2px 0px #ffc300;
}
.top-btn:hover {
  background-color: black;
  box-shadow: 2px 2px 0px #003566;
  transition: 0.2s ease-in-out;
}
.top-btn:active {
  transform: translateY(4px);
  background-color: #db4444;
  box-shadow: none;
}

/*responsive section*/

@media (max-width: 900px) {
  body {
    display: flex;
    align-items: center;
  }
  /* .title-pic {
    display: none;
  } */
  .first-pic {
    display: none;
  }
  .intro {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .intro h1 {
    font-size: 70px;
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 666px) {
  .title-pic{
    display: none;
  }
  .second-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .work-title h1 {
    font-size: 55px;
    text-align: center;
  }
  .work-title p {
    font-size: 16px;
  }
  .work-project {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
  }
  .work-description hr {
    border: none;
    height: 3px;
    background: linear-gradient(90deg, #003566, grey);
    border-radius: 2px;
  }
  .work-project p {
    font-size: 15px;
  }
  .project-info {
    font-size: 13px;
  }
  .link-git img {
    width: 20px;
    height: 20px;
  }
  .work-description h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .work-description p {
    margin-bottom: 20px;
  }
  .third-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .third-body h1 {
    text-align: center;
    font-size: 60px;
  }
  .second-title {
    text-align: center;
  }
  .second-title h2 {
    font-size: 18px;
  }
  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-info h1 {
    text-align: center;
    font-size: 60px;
  }
  .contact-icons a {
    font-size: 15px;
  }
  .contact-icons p {
    font-size: 15px;
  }
  .contact-icons img {
    width: 25px;
    height: 25px;
  }
  .contact-icons {
    margin-top: 15px;
  }
  .footer {
    font-size: 5px;
    padding: 10px;
  }
  .about2 {
    width: 100%;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    width: 100%;
  }
  .about-info h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
  }
  .about-info h2 {
    font-size: 60px;
    text-align: center;
  }
  .about-para h3 {
    font-size: 15px;
  }
  .about-para h4 {
    font-size: 12px;
  }

  .about-para p {
    font-size: 15px;
  }
  .title-btns {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .download button {
    width: 80%;
    height: 60px;
    font-size: 12px;
  }
  .about-skill {
    font-size: 60px;
  }
  .skill-icon {
    padding: 2%;
  }
  .skill-indiv img {
    width: 40px;
    height: 40px;
  }
  .skill-indiv p {
    font-size: 13px;
  }
}
